支付风控审核Agent.yml
app:
  description: 基于LLM的支付交易风控审核工作流，实现可疑交易自动初筛、多维度Agent分析与结构化报告输出
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 支付风控审核Agent
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/moonshot:0.1.1@38ef545c8d4ebf72b1712d5d700b4c7fd810f291912fe40e9b149f6c27767c2b
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1772609385486-source-1772609896333-target
      source: '1772609385486'
      sourceHandle: source
      target: '1772609896333'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1772609896333--1772610671283-target
      source: '1772609896333'
      sourceHandle: source
      target: '1772610671283'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1772610671283-false-1772610960247-target
      source: '1772610671283'
      sourceHandle: 'false'
      target: '1772610960247'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1772610671283-true-1772611383155-target
      source: '1772610671283'
      sourceHandle: 'true'
      target: '1772611383155'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1772611383155--1772613631983-target
      source: '1772611383155'
      sourceHandle: source
      target: '1772613631983'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - hint: ''
          label: 交易金额
          options: []
          placeholder: ''
          required: true
          type: number
          variable: amount
        - default: ''
          hint: ''
          label: 用户id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: 设备id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: device_id
        - default: ''
          hint: ''
          label: 商户id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: merchant_id
        - default: ''
          hint: ''
          label: ip地址
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: ip_address
        - default: ''
          hint: ''
          label: 交易时间
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: transaction_time
      height: 239
      id: '1772609385486'
      position:
        x: -268.64278870591943
        y: 334.74320524325026
      positionAbsolute:
        x: -268.64278870591943
        y: 334.74320524325026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: moonshot-v1-32k
          provider: langgenius/moonshot/moonshot
        prompt_template:
        - id: 95e52dee-080e-458d-a350-fa8d0f049c48
          role: system
          text: "你是一个专业的支付风控分析师。你的任务是对输入的交易信息进行快速初步筛查，判断风险等级。\n\n请严格按照以下JSON格式输出，不要输出任何其他内容：\n\
            {\n  \"risk_level\": \"低/中/高\",\n  \"risk_score\": 0到100的数字,\n  \"risk_reasons\"\
            : [\"原因1\", \"原因2\", \"原因3\"],\n  \"need_deep_review\": true或false\n}\n\
            \n判断规则：\n- 金额超过5000元，风险+20分\n- 凌晨0点-6点交易，风险+15分\n- 风险评分<40为低风险，40-70为中风险，>70为高风险\n\
            - 中风险和高风险需要深度审核（need_deep_review: true）"
        - id: d90f341c-a428-4d14-9962-9cb5403c0d01
          role: user
          text: '请分析以下交易信息：

            交易金额：{{#1772609385486.amount#}}

            用户ID：{{#1772609385486.user_id#}}

            设备ID：{{#1772609385486.device_id#}}

            商户ID：{{#1772609385486.merchant_id#}}

            IP地址：{{#1772609385486.ip_address#}}

            交易时间：{{#1772609385486.transaction_time#}}

            请输出JSON格式的风险评估结果。'
        selected: false
        title: 1. 交易初筛
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772609896333'
      position:
        x: 65.83493600091151
        y: 355.74320524325026
      positionAbsolute:
        x: 65.83493600091151
        y: 355.74320524325026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 96f15091-4e6b-493a-bd83-9a4d543ad316
            value: 'true'
            varType: string
            variable_selector:
            - '1772609896333'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1772610671283'
      position:
        x: 379.72439782067033
        y: 355.74320524325026
      positionAbsolute:
        x: 379.72439782067033
        y: 355.74320524325026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1772609896333'
          - text
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1772610960247'
      position:
        x: 779.4291185897572
        y: 637.2224039365959
      positionAbsolute:
        x: 779.4291185897572
        y: 637.2224039365959
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '你是一个支付风控深度分析Agent，拥有工具可以查询黑名单和历史交易记录。


              你的任务是对初筛标记为高风险的交易进行深度调查，你需要：

              1. 主动调用工具获取更多信息

              2. 综合所有信息给出最终判决


              最终输出格式：

              - 风险评分：0-100

              - 最终判决：自动放行 / 人工复核 / 直接拦截

              - 核心风险点：3条

              - 处置理由：100字以内'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: moonshot-v1-32k
              model_type: llm
              provider: langgenius/moonshot/moonshot
              type: model-selector
          query:
            type: constant
            value: '请深度分析以下可疑交易：

              交易金额：{{#1772609385486.amount#}}

              用户ID：{{#1772609385486.user_id#}}

              设备ID：{{#1772609385486.device_id#}}

              商户ID：{{#1772609385486.merchant_id#}}

              IP地址：{{#1772609385486.ip_address#}}

              交易时间：{{#1772609385486.transaction_time#}}

              初筛结果：{{#1772609896333.text#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 根据用户ID和IP地址查询是否存在黑名单风险记录
              parameters:
                ip_address:
                  auto: 1
                  value: null
                user_id:
                  auto: 1
                  value: null
              provider_name: 88917bd8-410d-46a9-b2c2-7afd3a0dd6e5
              provider_show_name: 黑名单查询
              settings: {}
              tool_description: 根据用户ID和IP地址查询是否存在黑名单风险记录
              tool_label: checkBlacklist
              tool_name: checkBlacklist
              type: api
            - enabled: true
              extra:
                description: 分析用户过去30天的交易频率、金额均值、异常行为
              parameters:
                amount:
                  auto: 1
                  value: null
                user_id:
                  auto: 1
                  value: null
              provider_name: bc6341d3-6c56-43ba-a5e5-fca766c174d4
              provider_show_name: 历史交易查询
              settings: {}
              tool_description: 分析用户过去30天的交易频率、金额均值、异常行为
              tool_label: queryTransactionHistory
              tool_name: queryTransactionHistory
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: true
        title: 2. 深度风控Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1772611383155'
      position:
        x: 772.904522558642
        y: 355.74320524325026
      positionAbsolute:
        x: 772.904522558642
        y: 355.74320524325026
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772611383155'
          - text
          value_type: string
          variable: result
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1772613631983'
      position:
        x: 1083.6039839334621
        y: 355.74320524325026
      positionAbsolute:
        x: 1083.6039839334621
        y: 355.74320524325026
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 121.26610344363547
      y: 73.09676606054492
      zoom: 0.36179939289600654
  rag_pipeline_variables: []
